@import '../../assets/css/colors.scss';

.back__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: all .4s ease-in-out;

    &:hover {
        background-color: $black;
    }

    &:active {
        transform: scale(0.9);
    }
}