@import '../../assets/styles/colors.scss';

.card {
    display: flex;
    flex-direction: row;
    width: 320px;
    height: 200px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $black80;
    font-size: 14px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);

    span {
        width: 100%;
        max-width: 10px;
        background-color: $orange;
        border-radius: 8px;
        margin: 8px;
    }

    h2 {
        color: $orange;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    time {
        color: $gray;
        font-size: 12px;
    }

    article {
        margin-bottom: 10px;
        padding-right: 8px;
        overflow: hidden;
    }
}