.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;

    .container__task {
        overflow-y: scroll;
        scrollbar-width: none;
        border-radius: 8px;
    }
}