@import '../../assets/styles/colors.scss';

.navbar {
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    min-width: 320px;
    background-color: $black80;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.perfil {
    display: flex;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: $black;
    justify-content: center;
    align-items: center;

    &::after {
        content: url('../../assets/icon/perfil.svg');
    }
}